In [3]:
import pandas as pd 
import numpy as np

reviews_data = pd.read_excel("reviews_Preprocessing.xlsx", usecols=["Label", "reviews_tokens_stemmed"])
reviews_data.columns = ["label", "reviews"]

reviews_data.head()

   label                                            reviews
0      1  ['kemeja', 'bagus', 'banget', 'mau', 'nang ken...
1      0  ['jahit', 'rapi cuman', 'benang', 'jahit', 'je...
2      0  ['sesuai', 'harga', 'tipis', 'oke', 'warna', '...
3      1  ['gila', 'sih', 'bagus', 'worth', 'it', 'lembu...
4      0  ['kain', 'bagus', 'halus', 'buka', 'kotor', 'y...

In [4]:
import ast

def convert_text_list(texts):
    texts = ast.literal_eval(texts)
    return [text for text in texts]

reviews_data["reviews_list"] = reviews_data["reviews"].apply(convert_text_list)


print(reviews_data["reviews_list"][90])

print("\ntype : ", type(reviews_data["reviews_list"][90]))

['corak', 'pas', 'tidak', 'beda', 'foto', 'bahan', 'jatuh', 'adem', 'tipis', 'tidak', 'nerawang', 'pas', 'banget', 'tinggi', 'bbnya', 'kirim', 'tidak apa', 'barang', 'selamat', 'thank', 'you']

type :  <class 'list'>

In [5]:
def calc_TF(document):
    # Counts the number of times the word appears in review
    TF_dict = {}
    for term in document:
        if term in TF_dict:
            TF_dict[term] += 1
        else:
            TF_dict[term] = 1
    # Computes tf for each word
    for term in TF_dict:
        TF_dict[term] = TF_dict[term] / len(document)
    return TF_dict

reviews_data["TF_dict"] = reviews_data['reviews_list'].apply(calc_TF)

reviews_data["TF_dict"].head()

0    {'kemeja': 0.1111111111111111, 'bagus': 0.0833...
1    {'jahit': 0.4, 'rapi cuman': 0.2, 'benang': 0....
2    {'sesuai': 0.07142857142857142, 'harga': 0.071...
3    {'gila': 0.03571428571428571, 'sih': 0.0357142...
4    {'kain': 0.125, 'bagus': 0.125, 'halus': 0.125...
Name: TF_dict, dtype: object

In [6]:

# Check TF result
index = 90

print('%20s' % "term", "\t", "TF\n")
for key in reviews_data["TF_dict"][index]:
    print('%20s' % key, "\t", reviews_data["TF_dict"][index][key])

                term 	 TF

               corak 	 0.047619047619047616
                 pas 	 0.09523809523809523
               tidak 	 0.09523809523809523
                beda 	 0.047619047619047616
                foto 	 0.047619047619047616
               bahan 	 0.047619047619047616
               jatuh 	 0.047619047619047616
                adem 	 0.047619047619047616
               tipis 	 0.047619047619047616
            nerawang 	 0.047619047619047616
              banget 	 0.047619047619047616
              tinggi 	 0.047619047619047616
               bbnya 	 0.047619047619047616
               kirim 	 0.047619047619047616
           tidak apa 	 0.047619047619047616
              barang 	 0.047619047619047616
             selamat 	 0.047619047619047616
               thank 	 0.047619047619047616
                 you 	 0.047619047619047616